<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.server.mapper.BookMapper">


    <update id="updatestock">
        update book set stock=stock-1 where id=#{id}
    </update>
    <select id="selectbook" resultType="java.lang.Integer">
        select bookid from `book-user` where id=#{id}
    </select>
    <select id="selectByIdBook" resultType="com.ai.server.beans.Book">
        select *from book where id=#{id}
    </select>
    <insert id="insertBookUser">
       insert into `book-user` (id,bookid)
       values(#{id},#{bookid})
   </insert>

    <!-- 先更新book表，清空member_id并恢复库存 -->
    <update id="updateBookAfterReturn">
        update book set stock=stock+1 where id=#{id}
    </update>

    <!-- 再删除book-user表中的借阅记录 -->
    <delete id="deleteBorrowRecord">
        delete from `book-user` where bookid=#{id}
    </delete>

    <!-- 实现tuiZu方法，执行归还操作 -->
    <update id="tuiZu">
        <!-- 先更新book表 -->
        update book set member_id='', stock=stock+1 where id=#{id};
        <!-- 再删除借阅记录 -->
        delete from `book-user` where bookid=#{id};
    </update>
</mapper>