<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.server.mapper.BookMapper">

    <update id="tuiZu">
        <!-- 更新book表，清空member_id并恢复库存 -->
        update book set member_id='', stock=stock+1 where id=#{id};

        <!-- 删除book-user表中的借阅记录 -->
        delete from `book-user` where bookid=#{id};
    </update>

    <update id="updatestock">
        update book set stock=stock-1 where id=#{id}
    </update>
    <select id="selectbook" resultType="java.lang.Integer">
        select bookid from `book-user` where id=#{id}
    </select>
    <select id="selectByIdBook" resultType="com.ai.server.beans.Book">
        select *from book where id=#{id}
    </select>
    <insert id="insertBookUser">
       insert into `book-user` (id,bookid)
       values(#{id},#{bookid})
   </insert>

</mapper>